<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CurrencyConverter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CurrencyConverterTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFA5D6D020E95A6300A4CA9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA5D6E420E95A6600A4CA9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA5D6EF20E95A6600A4CA9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
